/*Landing Container will hold these three ID's:
    Header , Landing-Content , Landing-whitespace
*/
#landing-container{
    display:grid;
    grid-template-rows: [top] 8vh [mid] 81vh [bottom] 8vh [whiteSpace] 3vh;
    grid-template-columns:100vw;
    background: url("../images/landing-content-background.png") rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
   
}
/*HEADER*/
#header{
    grid-row: top;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top:5px;
}
#social-container{
    display:flex;
    width:fit-content;
    align-items: center;
    justify-content: center;
    position:relative;
    top:-8vh;
    animation: socialDrop 1s forwards 4s;
}
@keyframes socialDrop {
    from{
        top:-8vh;
    }
    to{
        top:0;
    }
}
#social-container img{
    max-height: 7vh;
    margin:0px 5px;
}

#landing-content{
    grid-row: mid;
}
#landing-content-container{
    width:fit-content;
    position:relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
   text-align: center;
}
#landing-content-container p {
    color:white;
    font-size:30px;
    opacity: 0%;
    animation: landingContentVisible 2s forwards 1s;
}
@keyframes landingContentVisible {
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}
#landing-content-container span{
    color:#A3c4BC;
}
#landing-button{
    font-size:18px;
    padding:10px 15px;
    border-radius: 5px;
    border:3px solid #F2DDA4;
    background:none;
    color:#A3c4BC;
    margin-top:20px;
    position:relative;
    top:50px;
    opacity: 0%;
    animation: buttonSlideUp 1s forwards 2s;
}
@keyframes buttonSlideUp {
    from{
        top:50px;
        opacity: 0%;
    }
    to{
        top:0px;
        opacity: 100%;
    }
}
#landing-button:hover{
    background:#F2DDA4;
    color: black;
    border:3px solid #A3c4BC;
}

#about-header{
    grid-row:bottom;
    color:#A3c4BC;
    width:50vw;
    position:relative;
    left:50%;
    transform: translateX(-50%);
    display:flex;
    align-items: center;
    justify-content: center;
    background:black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top:3px solid #A3c4BC;
}

#landing-whiteSpace{
    grid-row: whiteSpace;
    background:black;
    display:flex;
}
.whitespace-border{
    width:25vw;
    height:100%;
    border-top:1px solid #A3c4BC;

}
#whitespace-center{
    width:50vw;
    height:100%;
}


