#skill-container{
    background:black;
    padding-top:20px;
}
#skill-icon-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top:1px solid  #A3c4BC;
    border-bottom: 1px solid  #A3c4BC;
    margin:30px auto;
    width:90vw;
}
.skill-icon{
    max-width:100px;
    margin:30px;
}
#skill-shape{
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 100vw solid transparent;
    border-bottom: 50px solid white;
    grid-column: 1;
    grid-row: 1;
    background:black;
}

@media screen and (min-width: 768px) {
    .skill-icon{
        max-width:150px;
    }
    #skill-shape{
        border-bottom: 130px solid white;
    }
}
@media screen and (min-width: 1024px) {
    .skill-icon{
        max-width:200px;
        
    }
}
@media screen and (min-width: 1025px) {
    .skill-icon{
        max-width:120px;
        margin:30px 40px;
    }
    #skill-icon-container{
       width:80vw;
       margin:50px auto;
       
    }
}